<html lang="en">

<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="{% static 'css/login.css'%}" />
</head>

<body>
    <div class="box d-flex align-items-center justify-content-center " style="height:100vh">


        <!-- LOGIN FORM -->
        <form class="login-box">
            <div class="form-group">
                <label for="exampleInputEmail1">User Name</label>
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp"
                    placeholder="Enter User Name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="Password" placeholder="Password">
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-primary" id="button1">Register</button>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary" id="button2">Signin</button>
                </div>
            </div>
        </form>
        <!-- END OF LOGIN FORM -->

        <!-- REGISTER FORM -->
        <form class="register-box">
            <div class="form-group">
                <label for="formGroupExampleInput">User Name</label>
                <input type="text" class="form-control" id="reg-name" aria-describedby="emailHelp"
                    placeholder="Enter User Name">
                    <small id="emailHelp" class="form-text text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control"  id="reg-email" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" id="reg-password" class="form-control"  placeholder="Password">
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary" id="button3">Save</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary" id="button4">Signin</button>
                </div>
            </div>
        </form>

        <!-- END OF REGISTER FORM -->
    </div>
</body>
<script src="{% static 'js/login.js'%}"></script>

</html>